/* Preset */

body {
  margin: 0;
  height: 100vh;
}

.light {
  background-color: rgb(223, 215, 215);
}

.dark {
  background-color: rgb(29, 28, 28);
}

.fontawesome {
  font-family: fontawesome;
}

/* <flex> */

.row {
  flex-direction: row;
}

.flex {
  display: flex;
  flex: 1;
}

.center {
  justify-content: center;
}

.space-between {
  margin: 5% 5%;
}

.end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

/* </flex> */

.nav-link {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/* Search Bar*/
.search-input {
  width: 300px;
  font-size: 1em;
  text-indent: 5px;
  border: none;
}

.button-input {
  font-size: 1em;
}

.search-input,
.button-input {
  height: 40px;
  border-radius: 20px;
}

.searchBox {
  margin-left: 10px;
}

.filter-button {
  border-radius: 20px;
  margin-left: 30px;
  border: none;
}

.switchBtn {
  font-size: 25px;
  margin: 5% 5%;
  border-radius: 35px;
  height: 50px;
  width: 50px;
  border: none;
}

.light-button {
  background-color: rgb(223, 215, 215);
}

.dark-button {
  background-color: rgb(29, 28, 28);
  color: rgb(223, 215, 215);
}

button:hover {
  cursor: pointer;
}

/* grid */

.reserve-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 350px));
  grid-row-gap: 10px;
  height: 100%;
  justify-content: center;
  text-align: center;
  font-family: 'arial';
}

.not-found-message {
  display: grid;
  justify-content: center;
}

/* Card */

.card,
img {
  border-radius: 25px;
  width: 95%;
  height: 450px;
  transition: transform 0.3s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.5);
}
