@import './sass/global';
@import './sass/flex';
@import './sass/searchBar';
@import './sass/reserve';
@import './sass/creditCard';
@import './sass/seating';
@import './sass/payment';

body {
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

.light {
  @include setColor($dark, $light);
}

.dark {
  @include setColor($light, $dark);
}

.fontawesome {
  font-family: fontawesome;
}

.container95 {
  height: 95vh;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container75 {
  height: 75vh;
}

.container20 {
  height: 20vh;
}

.container5 {
  height: 5vh;
  text-align: bottom;
}

.nav-link {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.filter-button {
  border-radius: 20px;
  margin-left: 30px;
  border: none;
}

.filter-button:hover {
  transform: scale(1.2);
}

.switchBtn {
  font-size: 25px;
  margin: 5% 5%;
  border-radius: 35px;
  height: 50px;
  width: 50px;
  border: none;
}

.switchBtn:hover {
  transform: scale(1.2);
}

.light-button {
  background-color: $light;
  color: $dark;
}

.dark-button {
  background-color: $dark;
  color: $light;
}

button:hover {
  cursor: pointer;
}

/* BackButton */

.backbutton:hover {
  cursor: pointer;
}

/* Footer */

a:hover {
  cursor: pointer;
}

.blue {
  color: darkblue;
}

.marginRight {
  margin-right: 30px;
}

.margin0 {
  margin: 0;
}

.align-center {
  text-align: center;
}
