.flex {
  display: flex;
  flex: 1;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.y-center {
  align-items: center;
}

.space-between {
  margin: 5% 5%;
}

.end {
  justify-content: flex-end;
}

.align-end {
  align-items: flex-end;
}
